@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.results {
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  background-image: url('background_image.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
    width: 100%;
    border: 1px black solid;
    padding: 15px;
    display: flex;
    background-color: gray;
    justify-content: space-between;
    height: 76.6px;
}

.company {
    margin: auto;
    font-size: 30px;
}

.logo2 {
  width: 100px;
  align-self: flex-start;
  margin: 3.2375px 0px;
}

.logo2:hover {
    cursor: pointer;
    background-color: #999;
}

input[type="text"]
{
  font-family: "Montserrat", sans-serif;
}

.search-engine2 {
  width: 580px;
  border-radius: 15px;
  background-color: #fff;
  margin: 0 auto 0;
}

/*
.search-engine:hover {
  box-shadow: 0 0 100px #707070;
  clip-path: inset(-15px 0px 0px 0px);
}
*/

/*
.search-engine {
  border: 1px solid red;
  box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}
*/

.actual-searchbar2 {
  position: relative;
}

.searchbar2 {
  background: transparent;
  height: 45px;
  width: 575px;
  padding-left: 45px;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

/*
.searchbar:hover {
  border: 1px solid red;
  box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}
*/

.search-img2 {
  position: absolute;
  width: 15px;
  top: 15px;
  left: 15px;
}

.search-img2:hover {
  cursor: pointer;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #555;
}

.result-box2 ul {
  /* border-top: 1px solid #999; */
  padding: 15px 10px;
}

.result-box2 ul li {
  list-style-type: none;
  border-radius: 5px;
  padding: 15px 10px;
  cursor: pointer;
}

/*
.result-box ul li:hover {
  background-color: lightblue;
}
*/

.result-box2 {
  max-height: 300px;
  overflow-y: scroll;
}

.line2 {
  border: 1px solid #999;
  width: 563.2px;
  position: absolute;
}
