
.summaryContainer{
    display: flex;
    height: 567.58px;
    padding: 5px;
}
.summaryTable{
    display: flex;
    width: 785px;
    height: 100%;
    border: 1px solid black;
    /*border: 1px solid black;*/
    /*background-color: palevioletred;*/
    background-color: white;
    /*margin: 0px 15px;*/
    padding: 10px 10px 10px 20px;
}

.tableOne {
    margin-right: 20px;
    border-collapse: collapse; 
    table-layout: fixed;
    height: 100%;
}

.actualTable {
    width: 100%;
    border-collapse: collapse;
}

.tableTwo {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid black;
}

td {
    width: 180px;
}

.value {
    text-align: right;
}