* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
  }

h1 {
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 60px 0;
}

.container {
    /*margin: 0 auto;*/
    width: 50%;
    height: 359.17px;
    /*border: 1px solid black;*/
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs button {
    background-color: lightgray;
    border: none;
    color: #888888;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.5s ease-out;
}

.tabs button:hover {
    color:white;
    background-color: rgba(255,255,255,0.15);
}

/*
.graph {
    border: 1px solid black;
}
*/

.tabs button:disabled{
    background-color: lightblue;
    color: white;
}

.content {
    /*padding: 50px 80px;*/
    height: 291.67px;
    overflow-y: auto;
    background-color: white;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
}

.content,button {
    font-size: 15px;
}
/*
@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
    }

    .content {
        padding: 50px;
    }
}
*/